<header class="header">
  <div class="container">
    <a href="#" class="header_logo logo">
      <img src="img/logo.svg" alt="Логотип" class="logo_img" />
    </a>
    <div class="header_content">
      <h1 class="header_title">
        Превратите уездный город
        <div class="header_title__center">в&nbsp;столицу</div>
        <div class="header_title__right">земного шара</div>
      </h1>
      <p class="header_text">
        Оплатите взнос на&nbsp;телеграммы для&nbsp;организации Международного
        васюкинского турнира по&nbsp;шахматам
      </p>
      <div class="header_link-group">
        <a href="#support" class="header_link header_link__fill"
          >Поддержать шахматную мысль</a
        >
        <a href="#" class="header_link header_link__border"
          >Подробнее о&nbsp;турнире</a
        >
      </div>
      <!-- /.header_link-group -->
    </div>
    <!-- /.header_content -->
  </div>
  <!-- /.container -->
  <div class="header_img-box img-box">
    <div class="circle">
      <img src="img/header/cirle_text.svg" alt="текст" class="circle_img" />
    </div>
    <!-- /.circle -->
    <img
      src="img/header/qween-chess.webp"
      alt="Шахматная фигура"
      class="chess-qween"
    />
    <img
      src="img/header/ring-chess.webp"
      alt="Шахматная фигура"
      class="ring-chess"
    />
    <img src="img/header/over.webp" alt="фон" class="over" />
    <img src="img/header/city.webp" alt="город" class="city" />
    <img src="img/header/pawn.webp" alt="Шахматная фигура" class="pawn" />
    <img src="img/header/horse.webp" alt="Шахматная фигура" class="horse" />
  </div>
  <!-- /.header__img-group -->
</header>
